@import '../common.scss';

$header-color: map-get($colors, 'header');
.header{
    margin-bottom: 0;
    padding: 8px 12px;
    background-color: $header-color;
    box-shadow: 0 1px 0px 1px #ddd;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 99;
    .flex-spacer{
        flex: 100 0 10px;
    }
}