body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map{
  height: 1200px;
  max-height: calc(100vh - 40px);
  #mapbox-map{
    height: 100%;
  }
}

#chart {
  height: 1200px;
  max-height: calc(100vh - 40px);
}