body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map{
  height: 1200px;
  max-height: calc(100vh - 40px);
  #mapbox-map{
    height: 100%;
  }
}

#chart {
  height: 1200px;
  max-height: calc(100vh - 40px);
}

.header {
  .header-toggles {
    white-space: nowrap;
    flex: 1 10 auto;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
      width: 0px;
      background: transparent;
    }
  }
}